#wrapper{
  background-color: /*#047ace*/#24a1fb;
  
  height: 576px;
}

#wrappers{
  background-color: /*#047ace*/#24a1fb;
  height: 330px;
}

.contactWrapper{
  background-color: #BFC9CA;
}

#fullscreen-hero{
   text-align: center;
  padding: 25px;

}

img{
  
  text-align: center;
}

.page-scroll, .cd-headline{
  text-align: center;
  color: black;
  padding: 25px;

}

a.button-ghost{
  border: 2px solid #3008f7;
  margin: 6.0px;
  padding: 5px;
  font-size: 18px;
  color: #000;
  background-color:#BFC9CA;
} 

a:hover{
  color: #f9021b;
}

a:visited{
  color: #f9a70b;
  font-weight: bold;
}

a:active{
  color:#0000FF;
}



.hire, .learn, span{
  color: black;
  font-size: 22px;
  font-weight: bold;
}


#me{
  text-align: center;
  padding: 5px;
}

#projects{
  margin: 0 auto;
}

.intro, .statement{
  padding-top: 8px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.statement{
  padding-bottom: 8px;
  font-size: 16px;
}

#myLife{
  /*background-color: #3008f7;*/
  background-color: /*#047ace*/#24a1fb;
  padding-top: 15px;
}
h2{
  font-family: luna;
  font-size: 24px;
}

.touch, .logo{
  text-align: center;
  font-size: 18px;
  /*padding-top: 15px;*/
  padding: 5px;
  border: 2px;
}
.send{
  padding-bottom: 5px;
  text-align: center;
}

.submitBtn{
  text-align: center;
  color: black;
  padding: 15px;

}

.email{
  padding-top: 8px;
  text-align: center;
}


.bio{
  font-size: 20px;
  /*color: #fff;*/
}

footer{
  padding: 80px 0 50px;
  background-color:/*#047ace*/#24a1fb;
  /*color: #fff;*/
  text-align: center;
}

.col-md-12{
  width: 100%;
  margin-left: 0;
}

.title{
  padding-bottom: 10px;
  padding-top: 8px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.summary{
  padding-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.description{
  padding-bottom: 10px;
  font-size: 18px;

}

.name{
  padding-bottom: 10px;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

.me{
  font-size: 24px;
  padding-bottom: 5px;
  /*font-family: sans-serif;*/
  font-weight: bold;
}

.design{
  
  font-size: 18px;
}

.made-by-me{
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.social-links{
  padding: 5px;
}

.social{
  padding: 2px;
}

@media screen and (max-width: 768px){
  #wrapper{
    max-width: 768px;
  }
  #me{
    width: 200px;
    heigh:600px;
  }
  .bio{
    font-size: 14px;
    margin-right:90px;
    float: left;
  }
  .erin{
    float: right;
    width: 90px;
    height: 90px;
    margin-bottom: 180px;
  }
  #myLife{
    padding:5px;
  }
  .seeFinal{
    float:left;
  }
  
}
@media screen and (max-width: 800px){
  .bio{
    font-size: 14px;
    margin-right:90px;
    float: left;
  }
  .erin{
    float: right;
    width: 90px;
    height: 90px;
    margin-bottom: 180px;
  }
}

@media screen and (max-width: 375px){
  .bio{
    font-size: 10px;
    margin-right:90px;
    float: left;
  }
  .erin{
    float: right;
    width: 90px;
    height: 90px;
    margin-bottom: 180px;
  }
  .seeFinal{
    float:left;
  }
  .title{
    font-size: 12px;
  }
}
@media screen and (max-width: 414px){
  .bio{
    font-size: 10px;
    margin-right:90px;
    float: left;
  }
  .erin{
    float: right;
    width: 90px;
    height: 90px;
    margin-bottom: 180px;
  }
  .seeFinal{
    float:left;
  }
  .title{
    font-size: 12px;
  }
}
